- hosts: { { host } }
  connection: docker

  collections:
    - community.grafana

  vars:
    template_path: "{{template_path}}"

  tasks:
    - name: stop docker-compose file at {template_path}
      community.grafana.docker_compose:
        project_src: {{ template_path }}
        project_name: automons
        state: absent